<header>
    <div class="item">
        <i class="fas fa-bars aside-action" (click)="toggle()"></i>
        <div id="logo">
            <img src="assets/favicon.png" />
        </div>
        <div id="search">
            <i class="fas fa-search"></i>
            <input type="search" placeholder="Rechercher..." />
        </div>
        <div id="buttons">
            <a href="login"><button class="stroked-theme"><i class="fas fa-user-circle mr-1"></i>Connexion</button></a>
        </div>
    </div>
</header>
<section id="main">
    <aside [class.aside-fold]="aside.open">
        <div class="d-flex flex-column">
            <a href="">
                <div class="button">
                    <i class="fas fa-compass"></i> Home
                </div>
            </a>
            <a href="games">
                <div class="button">
                    <i class="fas fa-gamepad"></i> Games
                </div>
            </a>
            <a href="contribute">
                <div class="button">
                    <i class="fas fa-hands-helping"></i> Contribute
                </div>
            </a>
        </div>
        <div class="d-flex flex-column">
        </div>
    </aside>
    <ng-content></ng-content>
</section>